:root {
  --bg-color: hsl(212, 45%, 89%);
  --header-color: hsl(218, 44%, 22%);
  --text-color: hsl(216, 15%, 48%);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  font-family: 'Outfit', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.img-container {
  width: auto;
  padding: 15px 15px 10px;
}

.img-container>img {
  width: 100%;
  border-radius: 10px;
}

.content {
  text-align: center;
  padding: 10px 25px;
  margin: 0;
}

.header {
  color: var(--header-color);
  font-size: 21px;
  font-weight: 700;
}

.text {
  color: var(--text-color);
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}